<%- include("./partials/header.ejs") %>


<div class="px-4 py-5 my-5 text-center">
  <h1 class="display-5 fw-bold my-5 text-body-emphasis">Salut, eu sunt Bogdan!</h1>
  <h2 class="display-5 fw-bold text-body-emphasis">Pentru mai multe informatii despre mine, apasa <a href="https://voiculescubogdan.github.io/capstone-project-2/" target="_blank">aici</a>!</h1>
</div>



<%- include("./partials/footer.ejs") %>

