<%- include("./partials/header.ejs") %>

<div id="projects" class="container justify-content-center pb-5 px-4 py-5 my-5">
  <div class="row flex-lg-row align-items-center border border-black p-5">
    <div class="col-lg-4 text-center ">
      <img class="rounded border border-black border-4" width="300" height="150" src="/images/simonGame.jpg" alt="Simon Game">
      <h2 class="fw-bold my-3">Simon Game</h2>
      
      <p><a class="btn btn-dark" href="https://voiculescubogdan.github.io/Simon-Game/" target="_blank">Click Here!</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="rounded border border-black border-4" width="300" height="150" src="/images/drumKit.jpg" alt="Drum Kit">
      <h2 class="fw-bold my-3">Drum Kit</h2>
      
      <p><a class="btn btn-dark" href="https://voiculescubogdan.github.io/Drum-kit/" target="_blank">Click Here!</a></p>
    </div>
    <div class="col-lg-4 text-center">
      <img class="rounded border border-black border-4" width="300" height="150" src="/images/diceeGame.jpg" alt="Dicee Game">
      <h2 class="fw-bold my-3">Dicee Game</h2>
     
      <p><a class="btn btn-dark" href="https://voiculescubogdan.github.io/Dicee-Challenge/" target="_blank">Click Here!</a></p>
    </div>
  </div>
</div>

<%- include("./partials/footer.ejs") %>